%clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@function rem($px, $base:60) {
    @return ($px / $base) * 1rem;
}
